//
// user-variables.scss
// Use this to overwrite Bootstrap and theme variables
//

// Example of a variable override to change theme's background color
// Remove the "//" to comment it in and see it in action!
// $body-bg: #12263F;
$primary: #4ecca3;
$primary-desat: #59c09d;
$secondary: #393e46;
$info: #a98bf3;
$success: #00956f;
$light: #e7efff;
$dark: #212529;
